<h1>Editing Bpci Adjmnt Ffactors R</h1>

<%= render 'form', bpci_adjmnt_ffactors_r: @bpci_adjmnt_ffactors_r %>

<%= link_to 'Show', @bpci_adjmnt_ffactors_r %> |
<%= link_to 'Back', bpci_adjmnt_ffactors_rs_path %>
